*{
    --primary:rgb(245, 8, 138);
    --dark-secondary: rgba(22, 22, 32, 0.49);
}

.w-10{
    width: 3em !important;
}

.text-white{
    color: white !important;
}

.btn-primary{
    background-color: var(--primary);
}

.border-primary{
    border-color: var(--primary) !important;
}

.categories-btn:hover{
    background-color: var(--primary);
}

.aspect-ratio{
    aspect-ratio: 1/1 !important;
    width: 100%;
    object-fit: cover;
}

.bg-secondary-dark{
    background-color: var(--dark-secondary);
}

.w-fitcontent{
    min-width: fit-content;
}

.max-word{
    max-width: 60ch;
}
 
.text-font{
font-family: 'Bookman Old Style',Cambra,Candara;
}

@media (min-width:500px) {
    .max-word{
        max-width: 75%;
    }
    .btn-cart{
        width: 50% !important;
    }
}

.svg-icon {
    width: 1em;
    height: 1em;
    transform: scale(1.5);
  }

  .icon-div:hover .svg-icon path,
  .icon-div:hover .svg-icon polygon,
  .icon-div:hover .svg-icon rect {
  fill: var(--primary);
  }

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
fill: white;
}
  
.svg-icon circle {
stroke: white;
stroke-width: 1;
    }
